.case-01 {
  writing-mode: vertical-lr;
  border: 1px solid currentColor;
  color: green;
  /* float: left; 속성을 논리속성으로 지정 */
  float: inline-start;
  /* 가로 크기를 width 속성이 아닌 논리 속성으로 지정 */
  inline-size: 400px;
  /* 세로 크기를 height 속성이 아닌 논리 속성으로 지정 */
  block-size: 100px;
  overflow: auto;
  padding-inline-start: 20px;
  padding-inline-end: 50px;
  /* padding-inline: 20px;
  padding-block: 10px;
  margin-inline: 50px;
  margin-block: 30px;  */
}
