body {
  font-family: 'SUIT', sans-serif;
}

/* 멤버 서비스 */
.member-service {
  float: left;
  margin-left: 10px;
  width: auto;

  .item {
    float: left;

    color: black;
    text-decoration: none;
  }
  a:not(:last-child)::after {
    content: '|';
    margin: 10px;
  }
}

/* 멤버 링크 */
.member-link {
  background: pink;
  float: left;
  width: auto;

  .item {
    color: black;
    text-decoration: none;
  }
  a:not(:last-child)::after {
    content: '|';
    margin: 10px;
  }
}
