@import '/src/common/a11y.css';
@import '/src/common/base.css';
@import '/src/common/login-theme.css';
@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

.masonry-layout {
  column-count: 4;
  column-gap: 1rem;
}

figure {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--pastel-gray);
  background: white;
}

img {
  width: 100%;
  height: auto;
  display: block;
  filter: sepia();
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .masonry-layout {
    column-count: 5;
  }
}

@media (min-width: 1024px) {
  .masonry-layout {
    column-count: 6;
  }
}
